In [1]:
import pandas as pd

In [2]:
matches = pd.read_csv('ipl-data/IPL Matches 2008-2020.csv')

In [3]:
matches.shape

(816, 17)

In [4]:
matches.head()

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
0,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,Chandigarh,2008-04-19,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,N,NaN,MR Benson,SL Shastri
2,335984,Delhi,2008-04-19,MF Maharoof,Feroz Shah Kotla,0,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,Mumbai,2008-04-20,MV Boucher,Wankhede Stadium,0,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,N,NaN,SJ Davis,DJ Harper
4,335986,Kolkata,2008-04-20,DJ Hussey,Eden Gardens,0,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,N,NaN,BF Bowden,K Hariharan

In [5]:
matches['team1'].unique()

array(['Royal Challengers Bangalore', 'Kings XI Punjab',
       'Delhi Daredevils', 'Mumbai Indians', 'Kolkata Knight Riders',
       'Rajasthan Royals', 'Deccan Chargers', 'Chennai Super Kings',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
       'Gujarat Lions', 'Rising Pune Supergiants',
       'Rising Pune Supergiant', 'Delhi Capitals'], dtype=object)

### total match win by a team

In [6]:
pd.value_counts(matches['winner'])

Mumbai Indians                 120
Chennai Super Kings            106
Kolkata Knight Riders           99
Royal Challengers Bangalore     91
Kings XI Punjab                 88
Rajasthan Royals                81
Delhi Daredevils                67
Sunrisers Hyderabad             66
Deccan Chargers                 29
Delhi Capitals                  19
Gujarat Lions                   13
Pune Warriors                   12
Rising Pune Supergiant          10
Kochi Tuskers Kerala             6
Rising Pune Supergiants          5
Name: winner, dtype: int64

### most player of the match award

In [7]:
pd.value_counts(matches['player_of_match']).head()

AB de Villiers    23
CH Gayle          22
RG Sharma         18
DA Warner         17
MS Dhoni          17
Name: player_of_match, dtype: int64

In [8]:
matches['date'].dtype

dtype('O')

In [9]:
matches['date'] = pd.to_datetime(matches['date'])

In [10]:
matches['date'].head()

0   2008-04-18
1   2008-04-19
2   2008-04-19
3   2008-04-20
4   2008-04-20
Name: date, dtype: datetime64[ns]

In [11]:
# pd.to_datetime(matches['date']).dt.month
matches['season'] = pd.to_datetime(matches['date']).dt.year

In [12]:
matches.columns

Index(['id', 'city', 'date', 'player_of_match', 'venue', 'neutral_venue',
       'team1', 'team2', 'toss_winner', 'toss_decision', 'winner', 'result',
       'result_margin', 'eliminator', 'method', 'umpire1', 'umpire2',
       'season'],
      dtype='object')

In [13]:
matches.head()

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2,season
0,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen,2008
1,335983,Chandigarh,2008-04-19,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,N,NaN,MR Benson,SL Shastri,2008
2,335984,Delhi,2008-04-19,MF Maharoof,Feroz Shah Kotla,0,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,N,NaN,Aleem Dar,GA Pratapkumar,2008
3,335985,Mumbai,2008-04-20,MV Boucher,Wankhede Stadium,0,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,N,NaN,SJ Davis,DJ Harper,2008
4,335986,Kolkata,2008-04-20,DJ Hussey,Eden Gardens,0,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,N,NaN,BF Bowden,K Hariharan,2008

### total matches in a season

In [14]:
pd.value_counts(matches['season'])

2013    76
2012    74
2011    73
2020    60
2019    60
2018    60
2016    60
2014    60
2010    60
2017    59
2015    59
2008    58
2009    57
Name: season, dtype: int64

In [15]:
pd.value_counts(matches['toss_decision'])

field    496
bat      320
Name: toss_decision, dtype: int64

### winner of each season

In [16]:
matches.drop_duplicates('season',keep='last')[['season','team1', 'team2','winner']].reset_index(drop=True)

,season,team1,team2,winner
0,2008,Chennai Super Kings,Rajasthan Royals,Rajasthan Royals
1,2009,Royal Challengers Bangalore,Deccan Chargers,Deccan Chargers
2,2010,Chennai Super Kings,Mumbai Indians,Chennai Super Kings
3,2011,Chennai Super Kings,Royal Challengers Bangalore,Chennai Super Kings
4,2012,Kolkata Knight Riders,Chennai Super Kings,Kolkata Knight Riders
5,2013,Chennai Super Kings,Mumbai Indians,Mumbai Indians
6,2014,Kolkata Knight Riders,Kings XI Punjab,Kolkata Knight Riders
7,2015,Mumbai Indians,Chennai Super Kings,Mumbai Indians
8,2016,Royal Challengers Bangalore,Sunrisers Hyderabad,Sunrisers Hyderabad
9,2017,Mumbai Indians,Rising Pune Supergiant,Mumbai Indians
10,2018,Chennai Super Kings,Sunrisers Hyderabad,Chennai Super Kings
11,2019,Mumbai Indians,Chennai Super Kings,Mumbai Indians
12,2020,Delhi Capitals,Mumbai Indians,Mumbai Indians

In [17]:
finals = matches.drop_duplicates('season',keep='last')[['season','team1', 'team2','winner']].reset_index(drop=True)

In [18]:
pd.value_counts(finals['winner'])

Mumbai Indians           5
Chennai Super Kings      3
Kolkata Knight Riders    2
Rajasthan Royals         1
Deccan Chargers          1
Sunrisers Hyderabad      1
Name: winner, dtype: int64

In [19]:
deliveries = pd.read_csv('ipl-data/IPL Ball-by-Ball 2008-2020.csv')

In [20]:
deliveries.shape

(193468, 18)

In [21]:
deliveries.head()

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
0,335982,1,6,5,RT Ponting,BB McCullum,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
1,335982,1,6,6,BB McCullum,RT Ponting,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
2,335982,1,7,1,BB McCullum,RT Ponting,Z Khan,0,0,0,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
3,335982,1,7,2,BB McCullum,RT Ponting,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
4,335982,1,7,3,RT Ponting,BB McCullum,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore

### most sixes by batsman

In [22]:
six_df = deliveries[deliveries['batsman_runs'] == 6]

In [23]:
six_df.shape

(8902, 18)

In [24]:
pd.value_counts(six_df['batsman']).head()

CH Gayle          349
AB de Villiers    235
MS Dhoni          216
RG Sharma         214
V Kohli           202
Name: batsman, dtype: int64

In [25]:
pd.unique(deliveries['is_wicket'])

array([0, 1], dtype=int64)

### most wickets by bowlers

In [26]:
wickets_df = deliveries[deliveries['is_wicket'] == 1]

In [27]:
wickets_df.shape

(9495, 18)

In [28]:
wickets_df['dismissal_kind'].unique()

array(['caught', 'run out', 'bowled', 'lbw', 'retired hurt', 'stumped',
       'caught and bowled', 'hit wicket', 'obstructing the field'],
      dtype=object)

In [29]:
# con_1 = wickets_df['dismissal_kind'] != 'run out'
# con_2 = wickets_df['dismissal_kind'] != 'retired hurt'
# con_3 = wickets_df['dismissal_kind'] != 'obstructing the field'

In [30]:
wickets_df = wickets_df[(wickets_df['dismissal_kind'] != 'run out')]

In [31]:
wickets_df.shape

(8602, 18)

In [32]:
wickets_df = wickets_df[(wickets_df['dismissal_kind'] != 'retired hurt')]

In [33]:
wickets_df = wickets_df[(wickets_df['dismissal_kind'] != 'obstructing the field')]

In [34]:
wickets_df.shape

(8589, 18)

In [35]:
pd.value_counts(wickets_df['bowler']).head()

SL Malinga         170
A Mishra           160
PP Chawla          156
DJ Bravo           153
Harbhajan Singh    150
Name: bowler, dtype: int64

### total runs by a batsman

In [36]:
# deliveries.groupby('batsman')['batsman_runs'].sum()
deliveries.groupby('batsman')['batsman_runs'].sum().sort_values(ascending=False).head()

batsman
V Kohli      5878
SK Raina     5368
DA Warner    5254
RG Sharma    5230
S Dhawan     5197
Name: batsman_runs, dtype: int64

In [37]:
deliveries.groupby(['batsman','id'])['batsman_runs'].sum().sort_values(ascending=False).head()

batsman         id
CH Gayle        598027     175
BB McCullum     335982     158
AB de Villiers  829795     133
KL Rahul        1216510    132
AB de Villiers  980987     129
Name: batsman_runs, dtype: int64