In [1]:
import numpy as np

In [2]:
x = np.random.randint(1,50,15)

In [3]:
x

array([ 9, 13,  3,  9, 29,  9, 34,  7, 22,  4, 16,  4, 42, 36,  8])

In [4]:
x.shape

(15,)

In [5]:
x = np.random.randint(1,50,(4,6))

In [6]:
x

array([[16, 13,  3,  4,  5, 20],
       [19, 21, 12, 47, 11, 40],
       [25, 42, 18, 19, 10, 30],
       [40, 27,  3, 32, 48, 27]])

In [7]:
x.shape

(4, 6)

In [8]:
x.ndim

2

In [9]:
# converts 2D to 1D
x.flatten()

array([16, 13,  3,  4,  5, 20, 19, 21, 12, 47, 11, 40, 25, 42, 18, 19, 10,
       30, 40, 27,  3, 32, 48, 27])

In [10]:
# transpose of data
x.T

array([[16, 19, 25, 40],
       [13, 21, 42, 27],
       [ 3, 12, 18,  3],
       [ 4, 47, 19, 32],
       [ 5, 11, 10, 48],
       [20, 40, 30, 27]])

In [11]:
x.reshape(6,4)

array([[16, 13,  3,  4],
       [ 5, 20, 19, 21],
       [12, 47, 11, 40],
       [25, 42, 18, 19],
       [10, 30, 40, 27],
       [ 3, 32, 48, 27]])

In [12]:
x.reshape(8,3)

array([[16, 13,  3],
       [ 4,  5, 20],
       [19, 21, 12],
       [47, 11, 40],
       [25, 42, 18],
       [19, 10, 30],
       [40, 27,  3],
       [32, 48, 27]])

In [13]:
x.reshape(3,8)

array([[16, 13,  3,  4,  5, 20, 19, 21],
       [12, 47, 11, 40, 25, 42, 18, 19],
       [10, 30, 40, 27,  3, 32, 48, 27]])

In [14]:
x.reshape(2,12)

array([[16, 13,  3,  4,  5, 20, 19, 21, 12, 47, 11, 40],
       [25, 42, 18, 19, 10, 30, 40, 27,  3, 32, 48, 27]])

In [15]:
x.reshape(4,-1)

array([[16, 13,  3,  4,  5, 20],
       [19, 21, 12, 47, 11, 40],
       [25, 42, 18, 19, 10, 30],
       [40, 27,  3, 32, 48, 27]])

In [16]:
x.reshape(-1,12)

array([[16, 13,  3,  4,  5, 20, 19, 21, 12, 47, 11, 40],
       [25, 42, 18, 19, 10, 30, 40, 27,  3, 32, 48, 27]])

In [18]:
x = x.flatten()

In [19]:
x

array([16, 13,  3,  4,  5, 20, 19, 21, 12, 47, 11, 40, 25, 42, 18, 19, 10,
       30, 40, 27,  3, 32, 48, 27])

In [20]:
np.mean(x)

22.166666666666668

In [21]:
np.var(x)

184.4722222222222

In [22]:
np.median(x)

19.5

In [23]:
np.std(x)

13.582055154586223

In [24]:
np.min(x)

3

In [25]:
np.max(x)

48

In [26]:
np.sort(x)

array([ 3,  3,  4,  5, 10, 11, 12, 13, 16, 18, 19, 19, 20, 21, 25, 27, 27,
       30, 32, 40, 40, 42, 47, 48])

In [27]:
np.sum(x)

532

In [28]:
x

array([16, 13,  3,  4,  5, 20, 19, 21, 12, 47, 11, 40, 25, 42, 18, 19, 10,
       30, 40, 27,  3, 32, 48, 27])

In [29]:
np.min(x)

3

In [30]:
np.argmin(x)

2

In [31]:
np.max(x)

48

In [32]:
np.argmax(x)

22

In [33]:
np.argsort(x)

array([ 2, 20,  3,  4, 16, 10,  8,  1,  0, 14,  6, 15,  5,  7, 12, 19, 23,
       17, 21, 18, 11, 13,  9, 22], dtype=int64)

In [34]:
x = x.reshape(4,-1)

In [35]:
x

array([[16, 13,  3,  4,  5, 20],
       [19, 21, 12, 47, 11, 40],
       [25, 42, 18, 19, 10, 30],
       [40, 27,  3, 32, 48, 27]])

In [37]:
# axis - 0 (column wise)
np.mean(x,axis=0)

array([25.  , 25.75,  9.  , 25.5 , 18.5 , 29.25])

In [38]:
# axis - 1 (row wise)
np.mean(x,axis=1)

array([10.16666667, 25.        , 24.        , 29.5       ])

In [39]:
np.sum(x, axis=0)

array([100, 103,  36, 102,  74, 117])

In [40]:
np.sum(x, axis=1)

array([ 61, 150, 144, 177])

In [41]:
x

array([[16, 13,  3,  4,  5, 20],
       [19, 21, 12, 47, 11, 40],
       [25, 42, 18, 19, 10, 30],
       [40, 27,  3, 32, 48, 27]])

In [43]:
# row wise / col wise
new_col = np.array([[2],[5],[3],[7]])
# col wise
np.c_[x, new_col]

array([[16, 13,  3,  4,  5, 20,  2],
       [19, 21, 12, 47, 11, 40,  5],
       [25, 42, 18, 19, 10, 30,  3],
       [40, 27,  3, 32, 48, 27,  7]])

In [45]:
new_row = np.array([[3,1,4,6,7,3]])
np.r_[x, new_row]

array([[16, 13,  3,  4,  5, 20],
       [19, 21, 12, 47, 11, 40],
       [25, 42, 18, 19, 10, 30],
       [40, 27,  3, 32, 48, 27],
       [ 3,  1,  4,  6,  7,  3]])

In [46]:
np.hstack((x, new_col))

array([[16, 13,  3,  4,  5, 20,  2],
       [19, 21, 12, 47, 11, 40,  5],
       [25, 42, 18, 19, 10, 30,  3],
       [40, 27,  3, 32, 48, 27,  7]])

In [47]:
np.vstack((x, new_row))

array([[16, 13,  3,  4,  5, 20],
       [19, 21, 12, 47, 11, 40],
       [25, 42, 18, 19, 10, 30],
       [40, 27,  3, 32, 48, 27],
       [ 3,  1,  4,  6,  7,  3]])

In [49]:
np.concatenate((x, new_row))

array([[16, 13,  3,  4,  5, 20],
       [19, 21, 12, 47, 11, 40],
       [25, 42, 18, 19, 10, 30],
       [40, 27,  3, 32, 48, 27],
       [ 3,  1,  4,  6,  7,  3]])

In [50]:
np.concatenate((x, new_col), axis=1)

array([[16, 13,  3,  4,  5, 20,  2],
       [19, 21, 12, 47, 11, 40,  5],
       [25, 42, 18, 19, 10, 30,  3],
       [40, 27,  3, 32, 48, 27,  7]])

In [51]:
new_rows = np.array([[3,1,4,6,7,3],
                     [1,7,1,2,9,13],
                    [36,14,24,16,71,31]])

In [53]:
np.concatenate((x, new_rows))

array([[16, 13,  3,  4,  5, 20],
       [19, 21, 12, 47, 11, 40],
       [25, 42, 18, 19, 10, 30],
       [40, 27,  3, 32, 48, 27],
       [ 3,  1,  4,  6,  7,  3],
       [ 1,  7,  1,  2,  9, 13],
       [36, 14, 24, 16, 71, 31]])

In [54]:
x

array([[16, 13,  3,  4,  5, 20],
       [19, 21, 12, 47, 11, 40],
       [25, 42, 18, 19, 10, 30],
       [40, 27,  3, 32, 48, 27]])

In [57]:
y = np.array([2,24,5,6,2,5])

In [58]:
x + y

array([[18, 37,  8, 10,  7, 25],
       [21, 45, 17, 53, 13, 45],
       [27, 66, 23, 25, 12, 35],
       [42, 51,  8, 38, 50, 32]])

In [59]:
x - y

array([[ 14, -11,  -2,  -2,   3,  15],
       [ 17,  -3,   7,  41,   9,  35],
       [ 23,  18,  13,  13,   8,  25],
       [ 38,   3,  -2,  26,  46,  22]])

In [60]:
x * y

array([[  32,  312,   15,   24,   10,  100],
       [  38,  504,   60,  282,   22,  200],
       [  50, 1008,   90,  114,   20,  150],
       [  80,  648,   15,  192,   96,  135]])

In [62]:
np.zeros((4,4)) + 7

array([[7., 7., 7., 7.],
       [7., 7., 7., 7.],
       [7., 7., 7., 7.],
       [7., 7., 7., 7.]])

In [63]:
x.shape

(4, 6)

In [66]:
x

array([[16, 13,  3,  4,  5, 20],
       [19, 21, 12, 47, 11, 40],
       [25, 42, 18, 19, 10, 30],
       [40, 27,  3, 32, 48, 27]])

In [64]:
y.shape

(6,)

In [68]:
y

array([ 2, 24,  5,  6,  2,  5])

In [65]:
np.dot(x,y)

array([ 493, 1106, 1432, 1166])

In [71]:
sum(x[0] * y)

493

In [73]:
x[0] * y

array([ 32, 312,  15,  24,  10, 100])