In [1]:
import pandas as pd

In [2]:
age_data = pd.Series([45,44,34,56,67,54,23,34,32,56,78])

In [3]:
age_data

0     45
1     44
2     34
3     56
4     67
5     54
6     23
7     34
8     32
9     56
10    78
dtype: int64

In [4]:
age_data = pd.Series([45,44,34,56,67,54,23,34,32,56,78],
                    index=['a','b','c','d','e','f','g','h','i','j','k'])

In [5]:
age_data

a    45
b    44
c    34
d    56
e    67
f    54
g    23
h    34
i    32
j    56
k    78
dtype: int64

In [6]:
age_data.index

Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k'], dtype='object')

In [7]:
age_data.index[0]

'a'

In [8]:
age_data[0]

45

In [9]:
age_data[4]

67

In [13]:
age_data[0:3]

a    45
b    44
c    34
dtype: int64

In [11]:
# by default returns first 5 values
age_data.head()

a    45
b    44
c    34
d    56
e    67
dtype: int64

In [14]:
# by default returns last 5 values
age_data.tail()

g    23
h    34
i    32
j    56
k    78
dtype: int64

In [15]:
age_data.head(4)

a    45
b    44
c    34
d    56
dtype: int64

In [16]:
age_data.max()

78

In [17]:
age_data.min()

23

In [18]:
age_data.mean()

47.54545454545455

In [19]:
age_data.median()

45.0

In [20]:
age_data.describe()

count    11.000000
mean     47.545455
std      16.494627
min      23.000000
25%      34.000000
50%      45.000000
75%      56.000000
max      78.000000
dtype: float64

In [21]:
age_data >= 50

a    False
b    False
c    False
d     True
e     True
f     True
g    False
h    False
i    False
j     True
k     True
dtype: bool

In [22]:
age_data[age_data >= 50]

d    56
e    67
f    54
j    56
k    78
dtype: int64

In [23]:
age_data = pd.Series([45,44,None,56,67,54,None,34,32,56,78])

In [24]:
age_data

0     45.0
1     44.0
2      NaN
3     56.0
4     67.0
5     54.0
6      NaN
7     34.0
8     32.0
9     56.0
10    78.0
dtype: float64

In [25]:
age_data.isna()

0     False
1     False
2      True
3     False
4     False
5     False
6      True
7     False
8     False
9     False
10    False
dtype: bool

In [26]:
age_data.isna().sum()

2

In [27]:
age_data.dropna()

0     45.0
1     44.0
3     56.0
4     67.0
5     54.0
7     34.0
8     32.0
9     56.0
10    78.0
dtype: float64

In [28]:
age_data.fillna(0)

0     45.0
1     44.0
2      0.0
3     56.0
4     67.0
5     54.0
6      0.0
7     34.0
8     32.0
9     56.0
10    78.0
dtype: float64

In [29]:
# sorting in ascending order
age_data.sort_values()

8     32.0
7     34.0
1     44.0
0     45.0
5     54.0
3     56.0
9     56.0
4     67.0
10    78.0
2      NaN
6      NaN
dtype: float64

In [30]:
age_data.sort_values(ascending=False)

10    78.0
4     67.0
9     56.0
3     56.0
5     54.0
0     45.0
1     44.0
7     34.0
8     32.0
2      NaN
6      NaN
dtype: float64