In [4]:
import pandas as pd
import pymysql

In [3]:
# !pip install pymysql

In [5]:
connection = pymysql.connect(port=3306, host='localhost', user='root',
                            database='cisco', autocommit=True)

In [6]:
connection

In [7]:
query = "select * from sales"
df = pd.read_sql(query, connection)

In [8]:
df

    year     city    product  profit
0   2020    Delhi     Mobile    2300
1   2020    Delhi       Tabs    2100
2   2020    Delhi  Furniture    4170
3   2020    Delhi         TV    1290
4   2019  Chennai         TV    1790
5   2019  Chennai       Tabs    2990
6   2019     Pune       Tabs    1990
7   2019     Pune  Furniture     190
8   2018     Pune         TV    1990
9   2018     Pune  Furniture    2990
10  2018     Pune     Mobile     290
11  2018  Chennai     Mobile     990